// Colors used across site, named as per the styleguide

$color-background-dark: #323232; // header & footer bkgrd // $BandSite-Black
$Silver: #AFAFAF;
$White: #FFFFFF;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1; // inactive links
$Alabaster: #FAFAFA;

$color-errorField: #D22D2D;