@use './variables' as *;
@use './mixins' as *;
@use './colors' as *;
@use './fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "AvenirNext";
    font-weight: normal;
}

// Font sizes & weights from the styleguide
// Assumes reference font size of 16px
h1 { // Page Header title in Hero

    font-size: 1.5rem;
    font-weight: 600;
    
    @include tablet-query {
        font-size: 3.75rem;
        font-weight: 600;
    }
}
h2 { // Section titles
    font-size: 1.5rem; // 24px 
    font-weight: 600; 
    
    @include tablet-query {
        font-size: 2.25rem;
        font-weight: 600;
    }
}
h3 { // Subheader titles
    font-size: 0.875rem;
    font-weight: 600;
    
    @include tablet-query {
        font-size: 1.5rem;
        font-weight: 600;
    }
}
p {
    font-size: $p-font-size-mob;
    line-height: $p-line-height-mob;  
    font-weight: normal;

    @include tablet-query {
        font-size: $p-font-size-tab; 
        line-height: $p-line-height-tab; 
        font-weight: normal;
    }
}

/* HEADER SECTION - logo & nav menu */
.header {
    background-color: $BandSite-Black;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        @include tablet-query {
            flex-flow: row nowrap;
            align-items: center;
            gap: $space-desktab-between;    
        }
        @include desktop-query {
            gap: $space-desktab-between-reduced;
        }
    }
    &__logo {
        
        padding: $space-mobile-between $space-mobile-between 0 $space-mobile-between;
        text-align: center;
        
        @include tablet-query {
            padding: 0 $space-desktab-between;
            padding-top: 0.3rem;
        }
        @include desktop-query {
            padding-left: $space-desktop-sidepadding;
            //padding-top: 0.3rem;
        }
    }
    &__menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        list-style-type: none;

        @include tablet-query {
            justify-content: flex-start;
            gap: $space-desktab-between + 0.5rem;
        }
        @include desktop-query {
            gap: $space-desktab-between;
        }
    }
    &__item { /* a container around a nav link */
        // Have to set flex-basis to 0 to ensure will grow as equal widths
        // Alternative would be to just set width 50%
        flex-grow: 1;
        flex-basis: 0;

        @include tablet-query {
            flex-grow: 0;
            flex-basis: content;
        }
    }
    &__item-link {
        display: block;
        padding: 0 $space-mobile-between;

        // Need to adjust padding by 0.4rem to make it match mocks
        padding-top: $space-mobile-between-reduced;
        padding-bottom: $space-btwn-less-underline-mobile;
        
        // Use dark border instead of hiding to prevent the border from pushing down content when it appears
        border-bottom: $menu-underline-mobile solid $BandSite-Black; 

        @extend p;
    
        text-align: center;
        text-decoration: none;
        color: $Mercury;

        @include tablet-query {
            padding-top: $space-desktab-between-reduced;
            padding-right: 0;
            padding-left: 0; 
            padding-bottom: $space-btwn-less-underline-desktab;
        }
        @include desktop-query {
           padding-top: $space-desktab-between;
           padding-bottom: $space-desktab-between-reduced;
        }
    }
    &__item-link:hover, &__item-link--active {
        border-bottom-color: white;
        color: $White;
        font-weight: 600;
    }
}



/* FOOTER SECTION */
.footer {

    background-color: $BandSite-Black;
    
    &__wrapper {
        padding: 0 $space-mobile-between;
        padding-top: $space-mobile-prehead + 0.3rem;
    
        @include tablet-query {
            padding: 0 $space-desktab-between;
            padding-top: $space-desktab-prehead;
    
            position: relative; /* for positioning of bandsite logo at >= tablet breakpoints */
        }
        @include desktop-query {
            padding: 0 $space-desktop-sidepadding;
            padding-top: $space-desktab-prehead;
        }
    }
    &__top-group {
        display: flex;
        flex-flow: column nowrap;

        @include tablet-query { 
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            gap: $space-desktab-between-reduced;
        }
        @include desktop-query {
            gap: $space-desktab-between;
        }
    }
    &__title-flex-item {
        /* utility class to set width of 'get in touch' flex item and thus
        ensure that that row's columns are aligned with the contact list columns below 
        (in conjunction with identical gap sizes) */
        width: 13.6rem;
    }
    &__title {
        color: white;
        
        margin-bottom: $space-mobile-posthead;

        @include tablet-query {
            margin-bottom: $space-desktab-between-reduced;
        }
    }
    &__social {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        margin-bottom: $space-mobile-between-reduced;
    }
    &__social-image {
        height: 1.45rem;
    }
    &__contact-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        
        margin-bottom: 2.5rem;

        @include tablet-query {
            flex-direction: row;
            justify-content: flex-start;
            gap: $space-desktab-between-reduced;

            margin-bottom: 0.5rem;
        }
        @include desktop-query {
            gap: $space-desktab-between;
        }
    }
    &__contact {
        color: white;

        @include tablet-query{
            width: 13.6rem; // Getting specific to match alignment in mock
        }
    }
    &__subtitle {
        margin-top: 0.5rem;
        margin-bottom: $space-mobile-between;
    }
    &__subtitle-text {
        font-weight: 600;
    }
    &__copy {
        margin-bottom: $space-mobile-between+0.1rem;
    }
    &__email {
        color: white;
        text-decoration: none;
        font-size: inherit;
    }
    &__email:hover {
        text-decoration: underline;
    }
    &__logo-mobile {

        @include tablet-query {
            position: absolute;
            top: $space-desktab-prehead + 0.5rem;
            right: $space-desktab-between;
        }
        @include desktop-query {
            right: $space-desktop-sidepadding;
        }
    }
    &__copyright {
        color: white;
        font-size: 0.68rem;
        padding: $space-mobile-between-reduced 0 $space-mobile-between 0;

        @include tablet-query {
            font-size: 0.8125rem; // back to default p size, couldn't use @extend on media query
            padding-top: $space-desktab-between-reduced;
            padding-bottom: $space-desktab-between;
        }
    }
}

/* Set a max-width on the content so that it doesn't stretch
across the entirety of super hi-res screens.
NOTE: If other *wrapper rules set width and come after this, then they will override. */
.wrapper-max {
    width: 100%;
    max-width: 1735px;
    margin: 0 auto;
}