// Colors used across site
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

// Key padding sizes per styleguide
// Assuming 16px default font size
$space-desktab-prehead: 3rem; // 48px
$space-desktab-posthead: 2.25rem; // 36px
$space-desktab-between: 2.25rem;

$space-mobile-prehead: 1.5rem; // 24px
$space-mobile-posthead: 1rem; // 16px
$space-mobile-between: 1.2rem; // 1rem = 16px, but doesn't visually match mock

$menu-underline-mobile: 0.3rem; // 4px;
$space-btwn-less-underline-mobile: $space-mobile-between - $menu-underline-mobile;

