// Key gap sizes per grid in styleguide
// Assumes 16px reference default font size
$space-desktab-prehead: 3rem;  // 48px
$space-desktab-posthead: 2.25rem; // 36px
$space-desktab-between: 2.25rem;  
$space-desktab-between-reduced: 1.7rem; // 1.5rem; // 1.5rem value is no longer accurate due to sprint2 mock changes;

$space-mobile-prehead: 1.5rem;
$space-mobile-posthead: 1rem; 
$space-mobile-between: 1rem; 
$space-mobile-between-reduced: 0.6rem; // needs to be smaller to deal with extra line height not accounted for in styleguide

$menu-underline-mobile: 0.2rem;
// Below will be used to calculate vertical padding on nav menu items. 
// Inactive Nav menu underline is a border with same color as bkgrd. Since borders add to box size, we need to subtract its width when calculating margins needed.
$space-btwn-less-underline-mobile: $space-mobile-between-reduced - $menu-underline-mobile;
$space-btwn-less-underline-desktab: $space-desktab-between-reduced - $menu-underline-mobile;

// The additional horiz padding needed on desktop breakpoint for Story content
$space-desktop-sidepadding: 8rem;


// Holding <p>'s font properties in vars as used in other tags as well
$p-font-size-mob: 0.8125rem;  
$p-line-height-mob: 1.125rem;  
$p-font-size-tab: 0.875rem; 
$p-line-height-tab: 1.375rem; 