@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/colors' as *;
@use 'partials/fonts';
@use 'partials/global' as *;



/* HERO SECTION */
.hero {
    
    background: center/cover url('../assets/Images/hero-bio.jpg');
    background-color: rgba(90,90,90,0.65);
    background-blend-mode: multiply;
    height: 59vw;
    max-height: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include tablet-query {
        height: 59vw;
        
        // limit height as hero being too huge pushes content below the fold
        max-height: 40rem; // 640px; 
    }
    @include desktop-query {
        height: 50vw;


    }


    &__title {
        color: white;
        font-size: 7.5vw; // looks better to have this title scale continuously
        padding: $space-mobile-between;

        @include tablet-query {
            padding: $space-desktab-between;
            font-size: 3.75rem;
        }
        @include desktop-query {
            padding-left: $space-desktop-sidepadding;
        }
    }
}


/* MAIN ARTICLE STORY SECTION */
.story {
    background-color: $White;
    
    &__wrapper {
        padding: 0 $space-mobile-between;

        @include tablet-query {
            padding: 0 $space-desktab-between;
        }
        @include desktop-query {
            padding: 0 $space-desktop-sidepadding;
        }
    }

    &__title {
        margin-top: $space-mobile-prehead;
        margin-bottom: $space-mobile-between-reduced;
        
        @include tablet-query {
            margin-top: $space-desktab-prehead;
            margin-bottom: $space-desktab-between-reduced;
        }
        @include desktop-query {
            margin-bottom: $space-desktab-posthead;
        }
    }
    &__sub-wrapper {
        /* adds extra indent on story photo & body */
        @include tablet-query {
            padding: 0 calc($space-desktab-between *1.7);
        }
        @include desktop-query {
            padding: 0 calc($space-desktab-between *2.45);
        }
        
    }
    &__image { 
        height: 49vw;
        width: 100%;
        margin-bottom: $space-mobile-between-reduced;
        object-fit: cover;

        @include tablet-query {
            height: 40vw;
            margin-bottom: $space-desktab-between-reduced;
        }
        @include desktop-query {
            height: 35vw;
            max-height: 37.9rem;
        }
    }
    &__quote, &__quote-author {
        font-size: 0.85rem;
        font-weight: 600;
        line-height: 1.7;
    }
    &__quote {
        margin-bottom: calc($space-mobile-between / 4);
        
        @include tablet-query {
            margin-bottom: $space-desktab-between - 1.6rem;

            font-size: 1.38rem;
            line-height: 1.9rem;
        }
    }
    &__quote-author {
        margin-bottom: $space-mobile-between + 0.45rem;

        @include tablet-query {
            font-size: 1rem;

            margin-bottom: $space-desktab-between + 1rem;
        }
    }
    &__subtitle {
        margin-bottom: $space-mobile-between;

        @include tablet-query {
            margin-bottom: $space-desktab-between-reduced;
        }
    }
    &__copy-box {
        /* enables 2 column layout on story copy */

        display: flex;
        flex-flow: column nowrap;
        gap: $space-mobile-between;
        margin-bottom: $space-mobile-between;

        @include tablet-query {
            flex-direction: row;
            margin-bottom: $space-desktab-between;
        }
    }
}

/* GALLERY SECTION */
.gallery {
    background-color: $Alabaster;
    
    &__wrapper { 
        padding: 0 $space-mobile-between;

        display: flex;
        flex-flow: column nowrap;
        
        @include tablet-query {
            padding: 0 $space-desktab-between;
        }
        @include desktop-query {
            padding: 0 $space-desktop-sidepadding;
        }
    }
    &__title {
        margin-top: $space-mobile-prehead;
        margin-bottom: $space-mobile-between-reduced;

        @include tablet-query {
            margin-top: $space-desktab-prehead;
            margin-bottom: $space-desktab-between-reduced;
        }
        @include desktop-query {
            margin-bottom: $space-desktab-posthead;
        }
    }
    &__photo-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        gap: $space-mobile-between; 
        // using this to ensure gap width matches mock; otherwise not strictly necessary to get a gap

        margin-bottom: $space-mobile-between;

        @include tablet-query {
            flex-flow: row wrap;
            gap: 3vw;

            margin-bottom: $space-desktab-between;
        }
        @include desktop-query {
            gap: 1.4rem; 
        }
    }
    &__photo {
        filter: brightness(65%);
        
        @include tablet-query {
            width: 30%; 
            flex-grow: 1;
        }

        &:hover {
            filter: brightness(1);
        }
    }
}

/* COMMENTS SECTION */

.comments {
    background-color: $White;

    &__wrapper {
        padding: $space-mobile-between;

        @include tablet-query {
            padding: $space-desktab-between;
        }
        @include desktop-query {
            padding-top: $space-desktab-prehead;
            padding-left: $space-desktop-sidepadding;
            padding-right: $space-desktop-sidepadding;
        }
    }

    &__list {
        @include tablet-query {
            padding-left: $space-desktab-prehead + 0.5rem;
            padding-right: $space-desktab-prehead + 0.5rem;
        }
        @include desktop-query {
            padding-left: calc($space-desktop-sidepadding * 2);
            padding-right: calc($space-desktop-sidepadding * 2);
        }
    }
    &__item { /* a comment in the comments list */
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $space-mobile-between;

        border-bottom: 1px solid $Mercury;
        padding: $space-mobile-between 0;

        @include tablet-query {
            padding: $space-desktab-between-reduced 0;
        }

    }
    &__image {
        width: 2.2rem;
        height: 2.2rem;
        background-color: $Mercury;
        border-radius: 50%;        
        object-fit:cover;

        @include tablet-query {
            width: 3rem;
            height: 3rem;
        }
    }
    &__top-image {
        margin-top: $space-mobile-between + 0.3rem;
    }
    &__copy {
       flex-grow:1;
    }
    &__form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        flex-grow:1;
        padding: 0;
    }
    &__label {
        font-size: 0.7rem; 
        line-height: 1.25rem;
        font-weight: normal;
        color: $Silver;
        text-transform: uppercase;

        display:block;
    }
    &__input {
        // display: block;
        margin-bottom: $space-mobile-between;
        border-radius: 0.25rem; // 4px;
        padding: 0.75rem; // 12px;
        
        min-height: 36px;
        border: 1px solid $Mercury;

        font-size: $p-font-size-mob;
        background-color: $Alabaster;

        @include tablet-query {
            min-height: 48px;
            margin-bottom: $space-desktab-between-reduced;
        }

        &-textarea {
            height: 6rem;
        }
    }
    &__input--error {
        border-color: $color-errorField;
    }
    &__button {
        font-weight: normal;

        @include tablet-query{
            align-self: flex-end;
        }
    }

    &__post-header { /* contains name & date */
        display: flex;
        justify-content: space-between;
        margin-bottom: $space-mobile-between-reduced;
    }
    &__post-name {
        font-weight: 600;
    }
    &__post-date {
        color: $Silver;
    }

}