@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "AvenirNext";
  font-weight: normal;
}

h1 {
  font-size: 1.95rem;
  line-height: 2.3rem; /* 32px */
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: bold;
  }
}

h2 {
  font-size: 1.95rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.75rem; /* 44px */
    font-weight: bold;
  }
}

h3 {
  font-size: 1.15rem;
  line-height: 1.375rem; /* 22px */
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: 600;
  }
}

p {
  font-size: 1.05rem;
  line-height: 1.5rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem; /* 14px */
    line-height: 1.375rem; /* 22px */
    font-weight: normal;
  }
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .header {
    flex-flow: row nowrap;
    align-items: center;
    gap: 2.65rem;
  }
}
.header__logo {
  padding: 1.2rem 1.2rem 0 1.2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 2.25rem 2.65rem;
    padding-bottom: 1.75rem;
  }
}
.header__logo-img, .footer__logo-mobile {
  width: 9.5rem;
}
.header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    justify-content: flex-start;
    gap: 5.3rem;
  }
}
.header__item {
  flex-grow: 1;
  flex-basis: 0;
}
@media screen and (min-width: 768px) {
  .header__item {
    flex-grow: 0;
    flex-basis: content;
  }
}
.header__item-link {
  display: block;
  padding: 1.2rem;
  padding-bottom: 0.95rem;
  border-bottom: 0.25rem solid #323232;
  font-size: 1.05rem;
  text-align: center;
  text-decoration: none;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .header__item-link {
    padding-left: 0;
    padding-right: 0;
    padding: 2.25rem 0;
    border-bottom-width: 0.25rem;
  }
}
.header__item-link:hover, .header__item-link--active {
  border-bottom-color: white;
  color: #FFFFFF;
  font-weight: 600;
}

.hero {
  background: center/cover url("../assets/Images/hero-bio.jpg");
  background-color: rgba(90, 90, 90, 0.65);
  background-blend-mode: multiply;
  height: 59vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero__title {
  color: white;
  padding: 1.2rem;
}

.story {
  padding: 0 1.2rem;
}
.story__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.story__image {
  height: 49vw;
  width: 100%;
  margin-bottom: 1.2rem;
}
.story__quote, .story__quote-author {
  font-size: 1.14rem;
  font-weight: 600;
  line-height: 1.8rem;
}
.story__quote {
  margin-bottom: 0.3rem;
}
.story__quote-author {
  margin-bottom: 2rem;
}
.story__subtitle {
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}
.story__copy-box {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.gallery {
  background-color: #FAFAFA;
  padding: 0 1.2rem;
  display: flex;
  flex-flow: column nowrap;
}
.gallery__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.gallery__photo-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.footer {
  background-color: #323232;
  padding: 0 1.2rem;
}
.footer__title {
  color: white;
  padding-top: 2.2rem;
  margin-bottom: 1.4rem;
}
.footer__social {
  display: flex;
  flex-flow: row nowrap;
  gap: 2.4rem;
  margin-bottom: 1.6rem;
}
.footer__social-image {
  height: 1.9rem;
}
.footer__contact-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-bottom: 3.5rem;
}
.footer__subtitle {
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer__copy {
  color: white;
  margin-bottom: 1.5rem;
}
.footer__email {
  color: white;
  text-decoration: none;
}
.footer__email:hover {
  text-decoration: underline;
}
.footer__copyright {
  color: white;
  font-size: 0.9rem;
  padding: 1.2rem 0;
}/*# sourceMappingURL=bio.css.map */