@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "AvenirNext";
  font-weight: normal;
}

h1 {
  font-size: 1.95rem;
  line-height: 2.3rem; /* 32px */
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.7rem;
    line-height: 5.1rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 1.95rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-weight: 600;
  }
}

h3 {
  font-size: 1.15rem;
  line-height: 1.375rem; /* 22px */
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 600;
  }
}

p {
  font-size: 1.05rem;
  line-height: 1.5rem;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.15rem;
    line-height: 1.8rem;
    font-weight: normal;
  }
}

/* HEADER SECTION - logo & nav menu */
.header {
  background-color: #323232;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-flow: row nowrap;
    align-items: center;
    gap: 2.65rem;
  }
}
.header__logo {
  padding: 1.2rem 1.2rem 0 1.2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 2.25rem 2.65rem;
    padding-bottom: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    padding-left: 11rem;
  }
}
.header__logo-img, .footer__logo-mobile {
  width: 9.5rem;
}
.header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    justify-content: flex-start;
    gap: 5.3rem;
  }
}
.header__item { /* a container around a nav link */
  flex-grow: 1;
  flex-basis: 0;
}
@media screen and (min-width: 768px) {
  .header__item {
    flex-grow: 0;
    flex-basis: content;
  }
}
.header__item-link {
  display: block;
  padding: 1.2rem;
  padding-bottom: 0.95rem;
  border-bottom: 0.25rem solid #323232;
  font-size: 1.05rem;
  text-align: center;
  text-decoration: none;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .header__item-link {
    padding-left: 0;
    padding-right: 0;
    padding: 2.25rem 0;
    border-bottom-width: 0.25rem;
  }
}
.header__item-link:hover, .header__item-link--active {
  border-bottom-color: white;
  color: #FFFFFF;
  font-weight: 600;
}

/* FOOTER SECTION */
.footer {
  background-color: #323232;
}
.footer__wrapper {
  padding: 0 1.2rem;
  padding-top: 2.7rem;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding: 0 2.65rem;
    padding-top: 4.2rem;
    position: relative; /* for positioning of bandsite logo at >= tablet breakpoints */
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    padding: 0 11rem;
    padding-top: 4.2rem;
    position: relative; /* for positioning of bandsite logo at >= tablet breakpoints */
  }
}
.footer__top-group {
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .footer__top-group {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.65rem;
  }
}
.footer__title {
  color: white;
  margin-bottom: 1.4rem;
}
.footer__social {
  display: flex;
  flex-flow: row nowrap;
  gap: 2.4rem;
  margin-bottom: 1.6rem;
}
.footer__social-image {
  height: 1.9rem;
}
.footer__contact-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-list {
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
    margin-bottom: 0.5rem;
  }
}
.footer__subtitle {
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer__copy {
  color: white;
  margin-bottom: 1.5rem;
}
.footer__email {
  color: white;
  text-decoration: none;
  font-size: inherit;
}
.footer__email:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer__logo-mobile {
    position: absolute;
    top: 4.7rem;
    right: 2.65rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-mobile {
    right: 11rem;
  }
}
.footer__copyright {
  color: white;
  padding: 1.2rem 0;
}

/* Set a max-width on the content so that it doesn't stretch
across the entirety of super hi-res screens.
Make sure this rule comes after all of the other wrapper rules. */
.wrapper-max {
  width: 100%;
  max-width: 1735px;
  margin: 0 auto;
}

/* HERO SECTION */
.hero {
  background: center/cover url("../assets/Images/hero-bio.jpg");
  background-color: rgba(90, 90, 90, 0.65);
  background-blend-mode: multiply;
  height: 59vw;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 59vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 50vw;
    max-height: 50rem;
  }
}
.hero__title {
  color: white;
  padding: 1.2rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding: 2.65rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 11rem;
  }
}

/* MAIN ARTICLE STORY SECTION */
.story {
  background-color: #FFFFFF;
}
.story__wrapper {
  padding: 0 1.2rem;
}
@media screen and (min-width: 768px) {
  .story__wrapper {
    padding: 0 2.65rem;
  }
}
@media screen and (min-width: 1280px) {
  .story__wrapper {
    padding: 0 11rem;
  }
}
.story__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .story__title {
    margin-top: 4.2rem;
    margin-bottom: 2.25rem;
  }
}
.story__sub-wrapper {
  /* adds extra indent on story photo & body */
}
@media screen and (min-width: 768px) {
  .story__sub-wrapper {
    padding: 0 5.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .story__sub-wrapper {
    padding: 0 7.155rem;
  }
}
.story__image {
  height: 49vw;
  width: 100%;
  margin-bottom: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .story__image {
    height: 40vw;
    margin-bottom: 2.65rem;
  }
}
@media screen and (min-width: 1280px) {
  .story__image {
    height: 35vw;
    max-height: 37.9rem;
  }
}
.story__quote, .story__quote-author {
  font-size: 1.14rem;
  font-weight: 600;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  .story__quote, .story__quote-author {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.story__quote {
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 768px) {
  .story__quote {
    margin-bottom: 0.6625rem;
  }
}
.story__quote-author {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .story__quote-author {
    font-size: 1.25rem;
    margin-bottom: 3.65rem;
  }
}
.story__subtitle {
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 768px) {
  .story__subtitle {
    margin-top: 4.2rem;
    margin-bottom: 2.25rem;
  }
}
.story__copy-box {
  /* enables 2 column layout on story copy */
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 768px) {
  .story__copy-box {
    flex-direction: row;
    margin-bottom: 2.65rem;
  }
}

/* GALLERY SECTION */
.gallery {
  background-color: #FAFAFA;
}
.gallery__wrapper {
  padding: 0 1.2rem;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    padding: 0 2.65rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    padding: 0 11rem;
  }
}
.gallery__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    margin-top: 4.2rem;
    margin-bottom: 2.25rem;
  }
}
.gallery__photo-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 768px) {
  .gallery__photo-list {
    flex-flow: row wrap;
    gap: 3vw;
    margin-bottom: 2.65rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photo-list {
    gap: 2rem;
  }
}
.gallery__photo {
  filter: brightness(65%);
}
@media screen and (min-width: 768px) {
  .gallery__photo {
    width: 30%;
    flex-grow: 1;
  }
}
.gallery__photo:hover {
  filter: brightness(1);
}/*# sourceMappingURL=bio.css.map */