@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/colors' as *;
@use 'partials/fonts';
@use 'partials/global' as *;


/* HERO BANNER ON SHOWS PAGE */
.hero-shows {

    background: center/cover url('../assets/Images/hero-shows.jpg');
    background-color: rgba(50,50,50,0.5);
    background-blend-mode: multiply;

    &__wrapper {
        padding-top: calc($space-mobile-between * 2);
        padding-bottom: calc($space-mobile-between * 1.6);

        display: flex;
        flex-direction: column;

        @include tablet-query {
            padding-top: calc($space-desktab-between * 1.7);
            padding-bottom: calc($space-desktab-between * 1.6);
        }
    
        @include desktop-query {
            // display hero content side-by-side
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: calc($space-desktab-between * 2);
    
            height: 39.5rem;
        }
    }

    &__copy {
        padding-left: $space-mobile-between;

        @include tablet-query {
            padding-left: $space-desktab-between;
        }
        @include desktop-query {
            padding-left: $space-desktop-sidepadding;
        }
    }
    &__title {

        width: 15rem;
        margin-top: $space-mobile-prehead - 0.3rem;   
        margin-bottom: $space-mobile-posthead;   
        
        color: $color-font-primary;

        @include tablet-query {
            width: 35rem;
            margin-top: $space-mobile-between - 0.2rem; 
            margin-bottom: $space-desktab-between;  
        }
        @include desktop-query {
            max-width: 31rem;
        }
    }
    &__subtitle {
        color: $color-font-primary;
    }
    &__embed {
        height: 30vw;
        max-height: 140px;
        max-width: 490px;
        padding: 0 $space-mobile-between;

        @include tablet-query{
            padding: 0 $space-desktab-between;
        }
        @include desktop-query {
            width: 1000px;
        }
    }
}


/* SHOWS SECTION */
.shows {
    
    &__wrapper {
        padding-top: calc($space-mobile-between * 2);
        padding-bottom: $space-mobile-between;

        @include tablet-query {
            /* adding an extra left & right padding as per mockup */
            padding: 0 $space-mobile-between;
            padding-top: calc($space-desktab-between *1.3);
            padding-bottom: $space-desktab-between;
            
        }
        @include desktop-query {
            // display title & dates list side-by-side
            display: flex;
            flex-flow: row nowrap;

            padding-left: $space-desktop-sidepadding;
            padding-right: $space-desktop-sidepadding;
        }
    }
    &__title { /* Shows big title */
        margin-bottom: $space-mobile-posthead - 0.3rem;
        padding: 0 $space-mobile-between;

        @include tablet-query{
            margin-bottom: $space-desktab-posthead;
        }
        @include desktop-query {
            padding: 0;
            width: 23.5%;
        }
    }

    &__list {
        @include desktop-query {
            width: 76.5%;
        }
    }

    &__header {
        /* table header row only shown at tablet & above */
        list-style-type: none;
        display: none;

        @include tablet-query {
            display: flex;
            justify-content: flex-start;
            padding: 0 $space-mobile-between + 0.3rem;
        }
        @include desktop-query {
            padding: 0 $space-mobile-between + 0.4rem;
        }
    }
    &__header-title {
        /* column headings */

        font-size: 0.75rem; 
        line-height: 1.25rem;
        font-weight: 600;
        color: $color-font-secondary;
        text-transform: uppercase;

        width: 25%;

        // To ensure columns are aligned between header & copy below it,
        // the below header widths must match the widths of the copy columns (.shows__item-copy--*)
        &--date {
            @include desktop-query {
                width: 35%;
            }
        }
        &--venue {
            @include desktop-query {
                width: 24%;
            }
        }
        &--location {
            width: 50%;
            @include desktop-query {
                width: 41%;
            }
        }



    }
    
    
    &__item {
        /* A block or row of show info (incl button) */

        list-style-type: none;
        border-bottom: 2px solid $color-divider-line;
        // The styleguide says border-width 1px but the mockup is def 2px on shows page

        padding: $space-mobile-between;

        &:hover {
            background-color: $color-background-lightalt;
        }
        &--selected {
            background-color: $color-divider-line;

            &:hover {
                /* ensures highlighted bkgrd color isn't overridden 
                by non-highlighted hover effect */
                background-color: $color-divider-line;
            }
        }
        @include tablet-query {            
            /* display show info in a horizontal row for tablet & wider */
            display: flex;
            align-content: center;
            flex-flow: row nowrap;

            padding-left: $space-mobile-between + 0.3rem;
            padding-right: $space-mobile-between + 0.3rem;
        }
        @include desktop-query {
            padding-left: $space-mobile-between + 0.4rem;
            padding-right: $space-mobile-between + 0.4rem;
        }
        

        &-header {
            /* Row headers only visible on mobile */
            font-size: 0.65rem;
            line-height: 1.25rem;
            font-weight: 600;
            color: $color-font-secondary;
            text-transform: uppercase;

            margin-bottom: calc($space-mobile-between-reduced / 2);

            @include tablet-query{
                /* hide the row headers on tablet & above */
                display: none;
            }
        }
        &-copy {
            /* Date, venue or location info */
            font-size: $p-font-size-mob;
            line-height: $p-line-height-mob;
            margin-bottom: $space-mobile-between;

            @include tablet-query {
                /* ensure show columns same width */
                width: 25%;
                margin: 0;
                
                // to vertical center copy in the row
                display: flex;
                align-items: center;
            }

            // Desktop Widths of these copy columns
            // Must match desktop widths of the header columns .shows__header-title
            &--date {
                font-weight: 600;
                @include desktop-query {
                    width: 35%;
                }
            }
            &--venue {
                @include desktop-query {
                    width: 24%;
                }
            }
            &--location {
                @include desktop-query {
                    width: 20%;
                }
            }
        }
        
        &-button { /* buy tickets button container */

            @include tablet-query{
                width: 25%;
                display: flex;
                justify-content: flex-end; // makes button right aligned
            }
            @include desktop-query {
                width: 21%; 
                // careful, width needs to work with other copy widths to ensure columns are aligned with headers
            }
        }
        &-link { /* adjust width of buy tickets button depending on screensize */
            width: 100%;
            @include tablet-query {
                width: initial;
            }
        }
    }

}